# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Temporary local files
.tmp

# Keep your personal resume.json private and any generated pdf's
resume.json
resume_*.json
resume.pdf

# IDEs
.vscode

# build folders
public
dist
