# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Temporary local files
.tmp

# Files/Folders used for theme development

# Keep your personal resume.json private
resume.json
resume_*.json
resume.pdf
